# loop

for loop

In [1]:
# start the sum at zero
list1=[1,2,3,4,5,6,7,8,9,10]
#initializer
sum_ = 0
for num in list1:
    sum_ = sum_ + num
    #print(sum_)
print(sum_)

55

In [2]:
num = int(input("Enter the num"))
if num >1:
    for i in range(2,num):
        if num%i ==0:
            print("num is not prime")
            break
    else:
        print("num is prime")

Enter the num 4

num is not prime

while loop

In [3]:
x = 0
while x < 10:
    print('x is currrently:',x)
    #print('x is still less than 10, adding 1 to x')
    x+=2
else:
    print('end of loop')

x is currrently: 0
x is currrently: 2
x is currrently: 4
x is currrently: 6
x is currrently: 8
end of loop

In [1]:
n = 0 
while n <5:
    n += 1
    if n == 3:
        break
    print(n)
print('loop ended')

1
2
loop ended

In [2]:
n = 0 
while n <5:
    n += 1
    if n == 3:
        pass
    print(n)
print('loop ended')

1
2
3
4
5
loop ended

In [3]:
n = 0 
while n <5:
    n += 1
    if n == 3:
        continue
    print(n)
print('loop ended')

1
2
4
5
loop ended

In [4]:
for i in 'sequence':
    if i== 'e':
        #print('continue executed')
        continue
    print(i)

s
q
u
n
c

In [5]:
for i in 'sequence':
    if i== 'e':
        #print('break executed')
        break
    print(i)

s

In [6]:
for i in 'sequence':
    if i== 'e':
        #print('pass executed')
        pass
    print(i)

s
e
q
u
e
n
c
e

In [11]:
number = 0
counter = 0
sum = 0

while number>=0:
    # take inputs from user for avg calculation
    number=float(input('enter any num.....to exit loop enter any -ve num'))
    if number>=0:
        counter = counter+1
        sum = sum+number
avg = sum/counter

print('\nNumber of entries=',counter,'\nAverage=',avg,'\nsum=',sum)

enter any num.....to exit loop enter any -ve num 1
enter any num.....to exit loop enter any -ve num 2
enter any num.....to exit loop enter any -ve num 3
enter any num.....to exit loop enter any -ve num 4
enter any num.....to exit loop enter any -ve num -1

Number of entries= 4
Average= 2.5
sum= 10.0

In [12]:
name = ['gurleen','nilesh','girish','umaid']
for indx_val,names in enumerate(name):
    print(indx_val,names)

0 gurleen
1 nilesh
2 girish
3 umaid

In [13]:
name = ['gurleen','nilesh','girish','umaid']
for indx_val,names in enumerate(name,1):
    print(indx_val,names)

1 gurleen
2 nilesh
3 girish
4 umaid

In [14]:
name = ['gurleen','nilesh','girish','umaid']
for indx_val,names in enumerate(name,7):
    print(indx_val,names)

7 gurleen
8 nilesh
9 girish
10 umaid

In [16]:
fruit = ['apple','apricot','papaya']
color = ['red','orange','yellow']
price = [12,13,14,12,14]
list(zip(fruit,color,price
        ))

[('apple', 'red', 12), ('apricot', 'orange', 13), ('papaya', 'yellow', 14)]

In [18]:
zip_ele=list(zip(fruit,color,price))
a,b,c =zip(*zip_ele)
print('a=',a,'\nb',b,'\nc',c)

a= ('apple', 'apricot', 'papaya')
b ('red', 'orange', 'yellow')
c (12, 13, 14)

In [19]:
eve= []
for i in range (1,21):
    if i%2 == 0:
        eve.append(i)
print(eve)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
[i for i in range (1,21) if i%2 ==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
[i for i in range (1,11) if i%2 ==i]

[1]

In [29]:
   eve= []
for i in range (1,11):
    if i%2 == 0:
        eve.append(i*i)
print(eve)

[4, 16, 36, 64, 100]

In [30]:
[i*i for i in range (1,11) if i%2 == 0]

[4, 16, 36, 64, 100]

In [31]:
list1 = [1,2,3,4]
list2 = [1,2,3,4]

print([(x,y) for x in list1 for y in list2])

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 1), (2, 2), (2, 3), (2, 4), (3, 1), (3, 2), (3, 3), (3, 4), (4, 1), (4, 2), (4, 3), (4, 4)]

In [32]:
l =[]
for x in list1:
    for y in list2:
        l.append((x,y))
print(l)

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 1), (2, 2), (2, 3), (2, 4), (3, 1), (3, 2), (3, 3), (3, 4), (4, 1), (4, 2), (4, 3), (4, 4)]

In [33]:
num = [x for x in range (21) if x%2==0 if x%5==0]
num

[0, 10, 20]

In [48]:
num= []
for i in range (0,21):
    if i%2 == 0 :
        if i%5 ==0:
            num.append(i)
print(num)

[0, 10, 20]

In [51]:
num= []
for i in range (21):
    if i%2 == 0 and i%5 ==0:
        num.append(i)
print(num)

[0, 10, 20]

In [52]:
students = ['nilish','yogesh','girish','gurleen']
list1 = [i for i in students if 'g' in i]
list1

['yogesh', 'girish', 'gurleen']

In [59]:
#for name starts with 'g'
list2=[]
for i in students:
    if 'g' in i[0]:
            list2.append(i)
print(list2)

['girish', 'gurleen']

In [60]:
#for name contains 'g'
list2=[]
for i in students:
    if 'g' in i[0]:
            list2.append(i)
print(list2)

['girish', 'gurleen']

In [61]:
[x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]